<h2>Ingrese Producto</h2>
    
<form action="/api/productos" method="POST">
    Nombre: <input type="text" name="title">
    Precio: <input type="text" name="price">
    Foto: <input type="text" name="thumbnail">
    <button>Enviar</button>
</form>