<table class="table">
    <thead>
        <th>#</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Foto</th>
    </thead>
    <tbody>
        {{#each productos}}
        <tr>
            <td> {{this.id}} </td>
            <td> {{this.title}} </td>
            <td> {{this.price}} </td>
            <td> <image src="{{this.thumbnail}}"></image></td>
        </tr>
        {{/each}}
    </tbody>
</table>






