<h2>Ingrese Producto</h2>
    
<form id="form">
    Nombre: <input type="text" id="title" name="title">
    Precio: <input type="text" id="price" name="price">
    Foto: <input type="text" id="thumbnail" name="thumbnail">
    <button class="btn btn-primary">Enviar</button>
</form>

<h2>PRODUCTOS</h2>
<table class="table">
    <thead>
        <th>#</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Foto</th>
    </thead>
    <tbody id="tbody">
        {{#each productos}}
        <tr>
            <td> {{this.id}} </td>
            <td> {{this.title}} </td>
            <td> {{this.price}} </td>
            <td> <image src="{{this.thumbnail}}"></image></td>
        </tr>
        {{/each}}
    </tbody>
</table>






